* {
  font-family: sans-serif;
  font-size: 14px;
}

html, body {
  background-color: #222;
}

html, body, canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

div {
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

#loginMenu, #registerMenu {
  position: relative;
  margin: auto;
  margin-top: 100px;
  width: 350px;
  padding: 20px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: white;
  box-sizing: border-box;
}

#loginMenu p, #registerMenu p {
  padding: 0;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}

#playerUsernameInput, #playerPasswordInput,
#regUsernameInput, #regPasswordInput,
#regConfirmInput {
  width: 100%;
  text-align: center;
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  box-sizing: border-box;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-bottom: 10px;
  outline: none;
}

#playerUsernameInput:focus, #playerUsernameInput.focus,
#playerPasswordInput:focus, #playerPasswordInput.focus,
#regUsernameInput:focus, #regUsernameInput.focus,
#regPasswordInput:focus, #regPasswordInput.focus,
#regConfirmInput:focus, #regConfirmInput.focus {
  border: solid 1px #CCCCCC;
  box-shadow: 0 0 3px 1px #DDDDDD;
}

#loginButton, #createAccountButton,
#registerButton, #cancelRegisterButton {
  position: relative;
  margin: auto;
  margin-top: 10px;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  font-size: large;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #2ecc71;
  border: 0;
  border-bottom: 2px solid #28be68;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #28be68;
  box-shadow: inset 0 -2px #28be68;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-bottom: 10px;
}

#loginButton:active, #loginButton:hover,
#createAccountButton:active, #createAccountButton:hover,
#registerButton:active, #registerButton:hover,
#cancelRegisterButton:active, #cancelRegisterButton:hover {
  top: 1px;
  background: #55D88B;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#loginMenu h3, #registerMenu h3 {
  padding-bottom: 0;
  margin-bottom: 0;
}

#loginMenu ul, #registerMenu ul {
  margin: 10px;
  padding: 10px;
  margin-top: 0;
}

#registerError, #loginError{
  color: red;
  visibility: hidden;
  font-size : 12px;
}

#loginMenuWrapper {
  z-index: 3;
  display: block;
}

#registerWrapper {
  z-index: 2;
  display: none;
}

#gameAreaWrapper {
  position: absolute !important;
  top: 0;
  left: 0;
  display: none;
}

@media only screen  and (min-width : 1224px) {
#mobile {
display: none;
	}
}

@media only screen  and (max-width : 1224px) {
#chatbox {
display: none;
        }
}